Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
course = "Data Science"  #string
l= list[1,3,4,"pwskill","dataScience"]
pi = 3.14
t =(1,2,3,"python",[4,5,6],{"course":"data science"})

In [3]:
course

'Data Science'

In [4]:
l

list[1, 3, 4, 'pwskill', 'dataScience']

In [5]:
pi

3.14

In [6]:
t

(1, 2, 3, 'python', [4, 5, 6], {'course': 'data science'})

In [7]:
t[0]

1

In [9]:
t[5]

{'course': 'data science'}

In [11]:
t[5]

{'course': 'data science'}

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = " "

In [8]:
type(vari)

NameError: name 'vari' is not defined

In [10]:
var2 ='[DS, ML, Python]'
type(var2)

str

In [11]:
var3 = ["DS", "ML", "Python"]
type(var3)

list

In [12]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [14]:
a = 10/3
a

3.3333333333333335

In [16]:
a = 10//3
a

3

In [18]:
a = 10%3
a

1

In [22]:
a = 2
a = a**2
a

4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
l = [1, 4.6, 'pwskill', [1, 4, 5], True, {'key':'0000'}, (1, 3, 6, 9),{"apple","banana","orange"}, 7+9j,"data science"]

In [10]:
for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'complex'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
a =20
b =2
count = 0
while a % b== 0:
    a = a//b
    count +=1
    
count

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [10]:
l = [1,2,3,4,5,6,78,90,43,67,12,89,9,79,54,23,29,27,36,35,44,43,42,56,57]

for i in l:
    if i%3==0:
        print("number is divisible by 3")
    else:
        print("number not is divisible by 3")

number not is divisible by 3
number not is divisible by 3
number is divisible by 3
number not is divisible by 3
number not is divisible by 3
number is divisible by 3
number is divisible by 3
number is divisible by 3
number not is divisible by 3
number not is divisible by 3
number is divisible by 3
number not is divisible by 3
number is divisible by 3
number not is divisible by 3
number is divisible by 3
number not is divisible by 3
number not is divisible by 3
number is divisible by 3
number is divisible by 3
number not is divisible by 3
number not is divisible by 3
number not is divisible by 3
number is divisible by 3
number not is divisible by 3
number is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable and immutable data types are concepts in programming that refer to whether the values of a data type can be changed after they are created.

1. Immutable Data Types:
Immutable data types are those whose values cannot be changed or modified after they are created. Any operation that appears to modify an immutable data type actually creates a new object with the modified value. Immutable objects are safer to use because they are less prone to unintended side effects.

Examples of immutable data types in Python include:
- Integers
- Floats
- Strings
- Tuples

2. Mutable Data Types:
Mutable data types are those whose values can be changed or modified after they are created. Any modification to a mutable object directly affects the original object.

Examples of mutable data types in Python include:
- Lists
- Dictionaries
- Sets

In [11]:
# Create a tuple
my_tuple = (1, 2, 3)

# Attempt to modify the tuple
# This will raise an error: 'tuple' object does not support item assignment
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [12]:
# Create a list
my_list = [1, 2, 3]

# Modify the list
my_list[0] = 10

# The list has been changed
print(my_list)

[10, 2, 3]