Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
data = [4,8,15,16,23]

In [4]:
series = pd.Series(data)

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
variable = [0,1,12,23,34,45,56,67,78,89]

In [9]:
print(pd.Series(variable))

0     0
1     1
2    12
3    23
4    34
5    45
6    56
7    67
8    78
9    89
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name                    Age                               Gender
Alice                    25                               Female
Bob                      30                               Male
Claire                   27                               Female
Then, print the DataFrame.

In [11]:
data = {"Name":["Alice","BOb","Claira"],
        "Age":[25,30,27],
        "Gender":["Female","Male","Female"]}

In [17]:
df =  pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a "DataFrame" is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It is similar to a spreadsheet or a SQL table, where data is organized into rows and columns. Each column in a DataFrame can have a different data type, making it a versatile data structure for handling and analyzing structured data.

On the other hand, a "Series" is a one-dimensional labeled array that can hold data of any type. It's similar to a column in a DataFrame or a single column of data in an Excel sheet. A Series has both data and associated labels (index) for each data point.

In [29]:
# Creating a DataFrame
data = {
    'CompanyName': ['pwSkill', 'iNeuron.ai', 'Google'],
    'Name':['Raadha','Krishna','Vikash'],
    'Employee.Id': [23, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
emId = pd.Series([25, 30, 27], name='Employee.Id')

print("DataFrame:")
print(df)
print("\nSeries:")
print(emId)

DataFrame:
  CompanyName     Name  Employee.Id  Gender
0     pwSkill   Raadha           23  Female
1  iNeuron.ai  Krishna           30    Male
2      Google   Vikash           27  Female

Series:
0    25
1    30
2    27
Name: Employee.Id, dtype: int64

in above exemple DataFrame has multiple columns (Name,Age,and Gender),each column can have a differents data type. The Series on the other hand, represents a single column of data (Age) with its associated index

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas DataFrame are some common functions include:
1. **Filtering Rows**: You can use functions like `df[df['column_name'] > value]` to filter rows based on specific conditions.

2. **Sorting:** The `df.sort_values()` function `allows` you to sort the DataFrame based on one or more columns.

3. **Grouping and Aggregation:** The `df.groupby()` function helps in grouping data based on specific columns, and you can then apply aggregation functions like `sum()`, `mean()`, etc., to the grouped data.

4. **Adding and Removing Columns:** You can create new columns using simple arithmetic or operations between existing columns, or you can drop columns using the `df.drop()` function.

5. **Handling Missing Values:** The `df.dropna()` and `df.fillna()` functions are used to drop or fill missing values in a DataFrame.

6. **Merging and Joining:** Functions like `df.merge()` and `df.join()` are used to combine multiple DataFrames based on common keys or indices.

7. **Applying Functions:** You can use the `df.apply()` function to apply a function to each element, row, or column of the DataFrame.

8. **Pivoting and Reshaping:** The `df.pivot_table()` and `df.melt()` functions help in pivoting and reshaping data.

9. **String Manipulation:** Pandas provides string manipulation functions through the `str` accessor, such as `str.contains()`, `str.replace()`, and more.

10. **Plotting:** The `df.plot()` function allows you to create various types of plots directly from the DataFrame.

In [30]:

import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
    'Age': [25, 30, 27, 22, 29],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Filtering rows
female_ages = df[df['Gender'] == 'Female']['Age']

# Grouping and Aggregation
age_by_gender = df.groupby('Gender')['Age'].mean()

# Adding a new column
df['Age_2x'] = df['Age'] * 2

# Removing a column
df = df.drop('Age_2x', axis=1)

# Handling missing values
df.loc[2, 'Age'] = None
df_cleaned = df.dropna()

print("Filtered Ages of Females:\n", female_ages)
print("\nAverage Age by Gender:\n", age_by_gender)
print("\nModified DataFrame:\n", df_cleaned)

Filtered Ages of Females:
 0    25
2    27
4    29
Name: Age, dtype: int64

Average Age by Gender:
 Gender
Female    27.0
Male      26.0
Name: Age, dtype: float64

Modified DataFrame:
     Name   Age  Gender
0  Alice  25.0  Female
1    Bob  30.0    Male
3  David  22.0    Male
4  Emily  29.0  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options you've provided, the **DataFrame** is mutable in nature. This means you can modify the contents of a DataFrame, including adding, updating, and deleting rows and columns after it's created.

- **Series:** Series are one-dimensional and immutable, meaning once they are created, you can't change their elements. You would need to create a new Series if you want to modify the data.

- **DataFrame:** DataFrames are two-dimensional and mutable. You can modify the contents, add or remove columns, change values, and perform various operations on the DataFrame after it's created.

- **Panel:** Panels were part of earlier versions of Pandas but have been deprecated. They were three-dimensional structures to hold data. Since version 0.25.0, Panels are no longer part of the main Pandas library, and it's recommended to use multi-index DataFrames or other data structures for similar purposes.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:
import pandas as pd

# Creating Series for different attributes
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female